*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #btn_search_animal{
    display: flex;
    justify-content: center;
} */


/* NAVBAR e HERO */
.container_top{
    height: 500px;
    background-image: url("https://images.pexels.com/photos/16645547/pexels-photo-16645547.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=500&w=2000");

}


#logo_top{
    height: 50px;
    width: auto;
}

#hero{
    display: flex;
    align-items: center;
    padding-top: 70px;
}

#hero h1{
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: -.02em;
    padding-left: 0;
}


#container_search{
    background-color: white;
    padding: 3px;
    border-radius: 9px;
    margin-top: 20px;
}

#imput_search{
    border: none;
}

/* TABS */

#tab_container {
    padding: 30px 0;
}

#tab_container ul{
    display: flex;
    justify-content: center;
    
}

#tab_container ul li a{
    color: rgb(104, 104, 104);
    font-size: 20px;
    font-weight: 400;
}

#tab_container ul li a:hover{
    color: black;
}

#tab_container ul li a.active{
    color: white;
    background-color: black;
    border-radius: 25px;
}

#tab_container ul li a.active:hover{
    opacity: 0.9;
}



/* CONTAINER CARD */


#container_top_photos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

